body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url("http://ndl.mgccw.com/mu3/wallpaper/20140608/11/1402205485337/2000x1330-IMAGES--6-.jpg")
}

a {
  color: #00B7FF;
}
